{% extends "layouts/base1.html" %}

{% block title %} Homepage {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner mt-5">
        <div class="page-header mt-5">
        <div class="container-fluid">
            <div class="card card-info card-annoucement card-round">
                <div class="card-body text-center">
                    <div class="card-opening">Welcome {{ request.user.username }},</div>
                    <div class="card-desc">
                        {{lastsevere}}
                    </div>
                    <a href="/analyse/">
                        <div class="card-detail">
                            <div class="btn btn-light btn-rounded">Track Now</div>
                        </div>
                    </a>
                    
                </div>
            </div>
            <div class="card card-stats card-secondary card-round">
                <div class="card-body ">
                    <div class="row">
                        
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-analytics"></i>
                            </div>
                        </div>
                        
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Recent Poem Score</p>
                                <h4 class="card-title">{{last_poem_score}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>Humidity</b></h5>
									<p class="text-muted">{{h}}</p>
								</div>
								
							</div>
							<div class="progress progress-sm">
								<div class="progress-bar bg-info w-{{humidity_cor}}" role="progressbar" aria-valuenow="{{humidity_cor}}" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="d-flex justify-content-between mt-2">
								<p class="text-muted mb-0">Dependency</p>
								<p class="text-muted mb-0">{{humidity_cor}}%</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>Temperature</b></h5>
									<p class="text-muted">{{t}}</p>
								</div>
								
							</div>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success w-{{temp_cor}}" role="progressbar" aria-valuenow="{{temp_cor}}" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="d-flex justify-content-between mt-2">
								<p class="text-muted mb-0">Dependency</p>
								<p class="text-muted mb-0">{{temp_cor}}%</p>
							</div>
						</div>
					</div>
				</div>
                </div>
            
        </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}