{% extends "layouts/base1.html" %}

{% block title %} Sign Up {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner mt-5">
        <div class="page-header mt-5">
        <div class="container-fluid">
                <div class="content">
		<div class="page-inner">
			<!--Header Image-->
			<img src="/static/assets/img/We Are Fauget Counseling.png" class="img-fluid" alt="...">
			<!-- About-->
			<p></p>
			<br>
			<section class="page-section" id="about">
				<div class="container">
					<div class="text-center">
						<h2 class="page-title"><bold>About Us</bold></h2>
						<h3 class="section-subheading text-muted">Learn more about EczeCare!</h3>
					</div>
					<ul class="timeline">
						<li>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="page-title">Analyze skin disease</h4>
								</div>
								<div class="timeline-body"><p class="text-muted">The user can check the type of skin disease by uploading the image. Also, they can check out the necessary steps and precautions to take by clicking on the Analyze tab!</p></div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="page-title">Severity Check</h4>
								</div>
								<div class="timeline-body"><p class="text-muted">The uploaded image is passed through segmentation model for detecting the spread of eczema by considering area factor.Our Model  uses Computer Vision to Recognize type of eczema from the initial appearance of symptoms on skin.
								</p></div>
							</div>
						</li>
						<li>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="page-title">Consult with doctors</h4>
								</div>
								<div class="timeline-body"><p class="text-muted">Option to consult with doctors where users can communicate with doctors virtually or schedule an appointment.</p></div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="page-title">Healing progress & Skin Maintenance</h4>
								</div>
								<div class="timeline-body"><p class="text-muted">Users can track progress of their skin condition with regular uploading of skin images and can get interactive analysis. Users can have reminders and suggestions related to their eczema type and severity.</p></div>
							</div>
						</li>
						<li>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="page-title">Explore Blogs!</h4>
								</div>
								<div class="timeline-body"><p class="text-muted">This platform can unlock new ways for people to stay better informed about skin disorders through expert-curated blogs.</p></div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<p></p>
			<!--About us-->
			<div class="row">
				<div class="col-12 col-sm-6 col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>Doctors Count</b></h5>
									<p class="text-muted">Total Doctors</p>
								</div>
								<h3 class="text-info fw-bold">97</h3>
							</div>
							<div class="progress progress-sm">
								<div class="progress-bar bg-info w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="d-flex justify-content-between mt-2">
								<p class="text-muted mb-0">Change</p>
								<p class="text-muted mb-0">15%</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>Total Revenue</b></h5>
									<p class="text-muted">Customs Value</p>
								</div>
								<h3 class="text-success fw-bold">$120</h3>
							</div>
							<div class="progress progress-sm">
								<div class="progress-bar bg-success w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="d-flex justify-content-between mt-2">
								<p class="text-muted mb-0">Change</p>
								<p class="text-muted mb-0">25%</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>New Orders</b></h5>
									<p class="text-muted">Fresh Orders</p>
								</div>
								<h3 class="text-danger fw-bold">25</h3>
							</div>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="d-flex justify-content-between mt-2">
								<p class="text-muted mb-0">Change</p>
								<p class="text-muted mb-0">50%</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<div>
									<h5><b>New Users</b></h5>
									<p class="text-muted">Joined New User</p>
								</div>
								<h3 class="text-secondary fw-bold">15</h3>
							</div>
							<div class="progress progress-sm">
								<div class="progress-bar bg-secondary w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="d-flex justify-content-between mt-2">
								<p class="text-muted mb-0">Change</p>
								<p class="text-muted mb-0">25%</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Customized Card -->
			<h4 class="page-title">Blogs</h4>
			<div class="row">
				<div class="col-md-3">
					<div class="card card-post card-round">
						<img class="card-img-top" style="height: 150px;" src="https://www.jrgpartners.com/wp-content/uploads/2015/11/medical-equipment-sales.jpg" alt="Card image cap">
						<div class="card-body">
							<!--<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="info-post ml-2">
									<p class="username">Joko Subianto</p>
									<p class="date text-muted">20 Jan 18</p>
								</div>
							</div> 
							<div class="separator-solid"></div>
							<p class="card-category text-info mb-1"><a href="#">Design</a></p> -->
							<h3 class="card-title">
								<a href="#">
									Best Resources This Week
								</a>
							</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-post card-round">
						<img class="card-img-top" style="height: 150px;" src="https://th.bing.com/th/id/R.d889056640b5b1b55bb967c19e07bb01?rik=bCt9IhYvQTbh%2bQ&riu=http%3a%2f%2fwww.pharmafilepv.ie%2fwp-content%2fuploads%2f2016%2f02%2fshutterstock_114306559_rendered.jpg&ehk=yG2bqi1XdtOZ3fiuCq26S%2bVM2gNKYZeN8ngR0n1sgq4%3d&risl=&pid=ImgRaw&r=0" alt="Card image cap">
						<div class="card-body">
							<!--<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="info-post ml-2">
									<p class="username">Joko Subianto</p>
									<p class="date text-muted">20 Jan 18</p>
								</div>
							</div> 
							<div class="separator-solid"></div>
							<p class="card-category text-info mb-1"><a href="#">Design</a></p> -->
							<h3 class="card-title">
								<a href="#">
									Best Resources This Week
								</a>
							</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-post card-round">
						<img class="card-img-top" style="height: 150px;" src="https://www.datavirtualizationblog.com/wp-content/uploads/2016/06/Advanced-Medical-Research-Powered-by-a-Logical-Data-Warehouse.jpg" alt="Card image cap">
						<div class="card-body">
							<!--<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="info-post ml-2">
									<p class="username">Joko Subianto</p>
									<p class="date text-muted">20 Jan 18</p>
								</div>
							</div> 
							<div class="separator-solid"></div>
							<p class="card-category text-info mb-1"><a href="#">Design</a></p> -->
							<h3 class="card-title">
								<a href="#">
									Best Resources This Week
								</a>
							</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-post card-round">
						<img class="card-img-top" style="height: 150px;" src="https://th.bing.com/th/id/OIP.IbLnkZN74Cwmc0AJF5KpngHaEz?pid=ImgDet&rs=1" alt="Card image cap">
						<div class="card-body">
							<!--<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="info-post ml-2">
									<p class="username">Joko Subianto</p>
									<p class="date text-muted">20 Jan 18</p>
								</div>
							</div> 
							<div class="separator-solid"></div>
							<p class="card-category text-info mb-1"><a href="#">Design</a></p> -->
							<h3 class="card-title">
								<a href="#">
									Best Resources This Week
								</a>
							</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="card card-post card-round">
						<img class="card-img-top" style="height: 150px;" src="https://www.medtecheurope.org/wp-content/themes/ak-medtecheurope-2018/assets/img/heading-2-02.jpg" alt="Card image cap">
						<div class="card-body">
							<!--<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="info-post ml-2">
									<p class="username">Joko Subianto</p>
									<p class="date text-muted">20 Jan 18</p>
								</div>
							</div> 
							<div class="separator-solid"></div>
							<p class="card-category text-info mb-1"><a href="#">Design</a></p> -->
							<h3 class="card-title">
								<a href="#">
									Best Resources This Week
								</a>
							</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-post card-round">
						<img class="card-img-top" style="height: 150px;" src="https://www.fdli.org/wp-content/uploads/2019/03/Medical-Conference-Image-e1551974097372.jpeg" alt="Card image cap">
						<div class="card-body">
							<!--<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="info-post ml-2">
									<p class="username">Joko Subianto</p>
									<p class="date text-muted">20 Jan 18</p>
								</div>
							</div> 
							<div class="separator-solid"></div>
							<p class="card-category text-info mb-1"><a href="#">Design</a></p> -->
							<h3 class="card-title">
								<a href="#">
									Best Resources This Week
								</a>
							</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-post card-round">
						<img class="card-img-top" style="height: 150px;" src="https://health.adelaide.edu.au/medicine/sites/default/files/styles/ua_image/public/media/images/2020-02/pharmacology.jpg?itok=kGQ6h_3B" alt="Card image cap">
						<div class="card-body">
							<!--<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="info-post ml-2">
									<p class="username">Joko Subianto</p>
									<p class="date text-muted">20 Jan 18</p>
								</div>
							</div> 
							<div class="separator-solid"></div>
							<p class="card-category text-info mb-1"><a href="#">Design</a></p> -->
							<h3 class="card-title">
								<a href="#">
									Best Resources This Week
								</a>
							</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-post card-round">
						<img class="card-img-top" style="height: 150px;" src="https://assets.campbell.edu/wp-content/uploads/sites/3/2017/10/Photo-May-26-10-38-01.jpg" alt="Card image cap">
						<div class="card-body">
							<!--<div class="d-flex">
								<div class="avatar">
									<img src="/static/assets/img/profile2.jpg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="info-post ml-2">
									<p class="username">Joko Subianto</p>
									<p class="date text-muted">20 Jan 18</p>
								</div>
							</div> 
							<div class="separator-solid"></div>
							<p class="card-category text-info mb-1"><a href="#">Design</a></p> -->
							<h3 class="card-title">
								<a href="#">
									Best Resources This Week
								</a>
							</h3>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary btn-rounded btn-sm">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
        </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
      <script>
		$('#lineChart').sparkline([102,109,120,99,110,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#177dff',
			fillColor: 'rgba(23, 125, 255, 0.14)'
		});

		$('#lineChart2').sparkline([99,125,122,105,110,124,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#f3545d',
			fillColor: 'rgba(243, 84, 93, .14)'
		});

		$('#lineChart3').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});

		$('#lineChart4').sparkline([102,109,120,99,110,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});

		$('#lineChart5').sparkline([99,125,122,105,110,124,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});

		$('#lineChart6').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});
	</script>
{% endblock javascripts %}
